
.loader {
  --height-of-loader: 2px;
  --loader-color: var(--color-accent-500);

  position: fixed;

  display: block;

  width: 100%;
  height: var(--height-of-loader);

  background-color: rgb(0 0 0 / 20%);
  border-radius: 30px;
}

.loader::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 0%;
  height: 100%;

  background: var(--loader-color);
  border-radius: 30px;

  animation: moving 1s ease-in-out infinite;
;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    right: 0;
    left: unset;
    width: 0;
  }
}






