
.modalAddWrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;
}


//.modalAddButtonCover {
//  flex-shrink: 0;
//  align-self: flex-start;
//
//  //width: 145px;
//  //height: 28px;
//  width: max-content;
//  margin: 0;
//  padding: 6px;
//
//}

.modalAddButtonCover {
  position: relative;

  flex-shrink: 0;
  align-self: flex-start;

  //width: max-content;
  width: 161px;
  margin: 0;
  padding: 6px;

  .tooltip {
    position: absolute;

    padding: 3px;

    color: #fff;
    text-align: center;

    visibility: hidden;
    opacity: 0.7;
    background-color: var(--color-accent-300);
    border-radius: 6px;
  }

  &:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

.modalAddInputCover {
  cursor: pointer;
  display: none;
  width: 0;
}

.modalAddImageCover {
  max-width: 118.265px;
  max-height: 48px;
  border-radius: 2px;

}
