
.modalAddWrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: 0;
  padding: 0;
}


.modalAddButtonCover {
  flex-shrink: 0;
  align-self: flex-start;

  width: 145px;
  height: 28px;
  margin: 0;
  padding: 6px;

}

.modalAddInputCover {
  cursor: pointer;
  display: none;
  width: 0;
}

.modalAddImageCover {
  max-width: 118.265px;
  max-height: 48px;
  border-radius: 2px;

}
