
.modalAddWrapper {
  display: flex;
  justify-content: start;

  width: 100%;
  margin: 0;
  padding: 0;
}

.modalAddButtonCover {
  position: relative;

  flex-shrink: 0;
  align-self: flex-start;
  justify-content: flex-start;

  height:  65px;
  margin: 0;
  padding:  6px 10px;

  background-color: transparent;

}

.modalAddInputCover {
  cursor: pointer;
  display: none;
}

.modalAddImageCover {
  max-width: 118.265px;
  max-height: 48px;
  border-radius: 2px;

}

.deleteCover {
 &:hover {
    cursor: pointer;
    scale: 110%;
  }
}

.coverErrorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
 }


