.svgLogo {
  width: 157px;
  height: 36px;
  margin: 0;
  padding: 0;
}

@media (width <= 1040px) {
  .svgLogo {
    width: 140px;
  }
}

  @media (width <= 540px) {
    .svgLogo {
      width: 110px;
    }
}


