.svgLogo {
  width: 157px;
  height: 36px;
}

@media (width <= 1040px) {
  .svgLogo {
    //width: 90px;
    width: 140px;
  }
}

  @media (width <= 540px) {
    .svgLogo {
      //width: 90px;
      width: 110px;
    }
}

//@media (width >= 1000px) {
//  .svgLogo {
//    width: 30%;
//  }
//}
