.wrapper {
  display: flex;
  gap: 10px;

  @media (width <= 540px) {
    gap: 1px;

  }// !!!!
}

//.star {
//  cursor: pointer;
//}

.spanRating {
  cursor: pointer;
  display: flex;
  align-items: center;
}
