.primary {
  all: unset;
  background-color: red;
  border: 1px solid #000;
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
