.firstSection {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  @media (width <= 1040px) {
    gap: 10px;
  }

  @media (width <= 540px) {
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: 1006px;
  margin: 30px auto;
  padding: 10px;
}

.wrapper {
 display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  padding: 10px;

  border: 3px solid   #660a1d;

  @media (width <= 540px) {
    width: 100%;
  }

}

.buttonWrapper {
  width: 26.25rem;
  margin-bottom: 2rem;
  padding-left: 0;
  color: var(--color-light-100);

  &:hover {
    cursor: pointer;
    color: var(--color-accent-300);
    transition: 0.5s;
  }

  @media (width <= 540px) {
    width: 100%;
  }
}

.btn {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  color: #f4f2fa;
}
