.nameContainerPackRow {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  width: 250px;
  height: 50px;

  @media (width <= 1040px) {
      width: 100%
  }

  @media (width <= 540px) {
    gap:5px;
    width: 65px;
    height: 100%
  }


  @media (width <= 280px) {
      width: 40px;
  }

}

.textForNamePackRow  {
  overflow: hidden;
  flex: 1;

  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width <= 1040px) {
    width: 85px
  }

  @media (width <= 540px) {
    margin: 0;
  font-size: 10px;
  }
}

.imgPackRow {
  flex: 1;
  flex-shrink: 0;

  width: 118.265px;
  max-height: 48px;

  object-fit: cover;
  border-radius: 3px;

  @media (width <= 1040px) {
    width: 40%
  }

  @media (width <= 540px) {
    gap:5px;
    width: 20%;

  }
}

.buttonContainerPackRow  {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  max-width: 105px;
  height: 100%;

  @media (width <= 280px) {
    display: flex;
    flex-direction: column;
    padding: 0 ;
  }
}

.editButtonPackRow  {
  padding: 2px 5px;

 &:hover {
    cursor: pointer;
    scale: 130%;
   transition: 0.3s;
  }

  @media (width <= 540px) {
    padding: 2px;
  }
}

.packRowStyle {
  display: grid;
  grid-template-columns: 301px 301px 131px 168px 105px;
  width:100%;
  height: 61px;

  @media (width <= 1040px) {
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 0.8fr;
  }

  @media (width <= 540px) {
    grid-template-columns: 1.4fr 1.4fr 2fr 1fr 1fr;
  }

}

.packTableCell {
  @media (width <= 1040px) {
    padding: 6px 10px;
  }

  @media (width <= 540px)
 {
  padding: 6px 10px;
}

  @media (width <= 280px)
  {
    padding: 6px 4px;
  }

}

.packAnswerStyle {
  overflow: hidden;
  flex: 1;

  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width <= 540px) {
   margin: 0;
    font-size: 10px;
  }
}

.packRating{
  pointer-events: none;
  align-items: center;
  height: 100%;

  @media (width <= 540px) {
    align-items: center;
    height: 100%;
  }
}

.modalRow {
  display: none;
}

.packRowDate {
  display: flex;
  align-items: center;
  height: 100%;

  @media (width <= 1040px) {
    font-size: var(--font-size-s);
  }

  @media (width <= 540px) {
  font-size: 10px;
  }
}
