.nameContainerPackRow {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  width: 250px;
  height: 50px;

  @media (width <= 1006px) {
    width: 100%


  }

  @media (width <= 540px) {
    gap:5px;
    width: 75px;
    height: 10px
  }


}

.textForNamePackRow  {
   overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width <= 540px) {
    margin: 0;
  font-size: 10px;
  }
}

.imgPackRow {
  flex-shrink: 0;

  width: 118.265px;
  max-height: 48px;

  object-fit: cover;
  border-radius: 3px;

  @media (width <= 1006px) {
    width: 100%


  }

  @media (width <= 540px) {
    gap:5px;
    width: 30px;

  }
}

.buttonContainerPackRow  {
  display: flex;
  justify-content: flex-start;
  max-width: 105px;
}

.editButtonPackRow  {
 &:hover {
    cursor: pointer;
    scale: 130%;
   transition: 0.3s;
  }
}

.packRowStyle {
  display: grid;
  grid-template-columns: 1.75fr 1.75fr 0.8fr 1fr 0.5fr;
  width:100%
}

.packAnswerStyle {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  align-content: flex-start;

  word-break: break-word;
  overflow-wrap: break-word;

  @media (width <= 540px) {
    margin: 0;
    font-size: 10px;
  }
}

.packRating{
  pointer-events: none;
}

.modalRow {
  display: none;
}

.packRowDate {
  font-size: smaller;
}
