

.buttonAddNewPack {
  @media (width <= 540px) {
    padding: 2px 10px;
  }
}

.textButtonAddNewPack {
  font-size: var(--font-size-s);
  font-weight: 700;

    @media (width <= 540px) {
      font-size: var(--font-size-xs);
  }
}
