.packTextModalButtonEditSave {
  font-size: var(--font-size-s);

  @media (width <= 280px) {
    font-size: var(--font-size-xs);
  }
}

.packModalButtonEditSave {
  @media (width <= 540px) {
    padding: 6px 10px;
  }

  @media (width <= 280px) {
    padding: 6px;
     }
}
