.containerPack {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-top: 24px;

  &.containerPackDisabled {
    pointer-events: none;
    opacity: 0.8;
  }
}

.pack {
  width: 1006px;

  @media (width <= 1040px) {
    width: 100%;
    padding: 10px;
  }

  @media (width <= 540px) {
    padding: 10px;
  }
}

.paginationWrapperPack {
  display: flex;
  justify-content: start;

  width: 1006px;
  padding-top: 5px;
  padding-left: 16px;

  @media (width <= 1040px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  @media (width <= 540px) {
    gap: 10px;
  }
}

.textPackNoData {
  width: 100%;
  font-weight: 700;
  color: var(--color-danger-500);
}

.trPack {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100%;

  border: 1px solid var(--color-dark-500);
}
