.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;

  width:50%;
  margin: 0 auto;

  @media (width <= 540px) {
    width:100%;
  }
}

.title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.table {
  th {
    width: 150px;
  }

  td {
    width: 150px;
  }
}
