// font-weight

.large,
.h1,
.h2,
.h3,
.subtitle1,
.subtitle2,
.overline {
  font-weight: var(--font-weight-bold);
}

.body1,
.body2,
.caption,
.link1,
.link2,
.error {
  font-weight: var(--font-weight-regular);
}

// line-height

.large,
.h1 {
  line-height: var(--line-height-l);
}

.h2,
.h3,
.subtitle1,
.body1,
.link1,
.error {
  line-height: var(--line-height-m);
}

.body2,
.subtitle2,
.caption,
.overline,
.link2 {
  line-height: var(--line-height-s);
}

// font-size

.large {
  font-size: var(--font-size-xxl);
}

.h1 {
  font-size: var(--font-size-xl);
}

.h2 {
  font-size: var(--font-size-l);
}

.h3,
.subtitle1,
.body1 {
  font-size: var(--font-size-m);
}

.body2,
.subtitle2,
.link1 {
  font-size: var(--font-size-s);
}

.caption,
.overline,
.link2,
.error {
  font-size: var(--font-size-xs);
}

// link decorations

.link1,
.link2 {
  color: var(--primary-500, #397df6);
  text-decoration-line: underline;

  &:hover {
    cursor: pointer;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--color-info-700);
    outline-offset: 0.1875rem;
  }
}

.error {
  color: var(--color-danger-300);
}
