.container {
  width: 100%;
  max-width: 1006px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 33px;
}

.decksPanel {
  display: flex;
  gap: 25px;
  align-items: end;
  justify-content: space-between;

  width: 100%;
}

.tableWrapper {
  margin-top: 36px;
}

.searchInput {
  width: 100%;
  max-width: 300px;
}

.slider {
  width: 100%;
  max-width: 250px;
}

//.buttonFilling {
//  display: flex;
//  gap: 6px;
//  align-items: center;
//  justify-content: space-between;
//}
