.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-top: 96px;
}

.deck {
  width: 1006px; ///!!!!!!!! исправить для адаптива
  //height: 100vh;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;

  //margin-top: 33px;
}

.tableWrapper {
  margin-top: 36px;
}

.paginationWrapper {
  display: flex;
  justify-content: start;
  width: 1006px;
} ///!!!!!!!! исправить для адаптива

.textNoData {
  font-weight: 700;
  color: var(--color-danger-500);
}

.td {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100%;

  border: 1px solid var(--color-dark-500);

}

.nameContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

   max-height: 61px;
}

.imgCover {
  flex-shrink: 0;

  width: 118.265px;
  max-height: 48px;

  object-fit: cover;
  border-radius: 3px;
}

.textForName {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.linkCell {
  display: flex;
  justify-content: flex-start ;
  color: var(--color-light-100)!important;

  &:hover:not(:disabled) {
    color: var(--color-light-100);
    background-color: var(--color-accent-900);

  }

}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
}
