.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  padding-top: 96px;

  @media (width <= 1006px) { //!!!!
    padding-right: 5px;
    padding-left: 5px;
  }
}

.deck {
  width: 1006px;

  @media (width <= 1006px) {
    width: 100%; //!!!!
  }

  @media (width <= 440px) {
    padding: 5px
  }// !!!!

 }

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (width <= 1006px) {
   margin-bottom: 2rem;
  }//!!!!

  @media (width <= 540px) {
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }// !!!!

}

.tableWrapper {
  margin-top: 36px;
}

.paginationWrapper {
  display: flex;
  gap: 24px;
  justify-content: start;

  width: 1006px;
  padding-top: 5px;
  padding-left: 16px;

  @media (width <= 1006px) {
    flex-direction: column;

    //align-items: center;
    //justify-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%; // !!!!
  }

  @media (width <= 540px) {
    gap:10px
  }// !!!!
}

.textNoData {
  font-weight: 700;
  color: var(--color-danger-500);
}

.td {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100%;

  border: 1px solid var(--color-dark-500);

}

.nameContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  width: 285px;

  @media (width <= 1006px) {
    //gap:5px;
    width: 100%

    //width: 270px

  }// !!!!

  @media (width <= 540px) {
    gap:5px;
    width: 80px
  }// !!!!
}

.imgCover {
  flex-shrink: 0;

  width: 118.265px;
  max-height: 48px;

  object-fit: cover;
  border-radius: 3px;

  @media (width <= 1006px) {
    width: 90px;
    font-size: var(--font-size-xs);
  }// !!!!

  @media (width <= 540px) {
    width: 30px;
  }// !!!!
}

.textForName {
  overflow: hidden;

  max-width: 100%;
  margin: 0;

  //padding: 4px 10px;

  font-size: var(--font-size-xs);
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (width <= 1006px) {
    width: 90px;
    font-size: var(--font-size-xs);
  }// !!!!

  @media (width <= 540px) {
    max-width: 100%;

    //font-size: 8px;
    word-wrap: break-word;
      }// !!!!
}

a.linkCell {
  display: flex;
  align-items: center;
  justify-content: flex-start ;

  width: 287px;
  height: 50px;
  padding-left: 5px ;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  color: var(--color-light-100);

  &:visited {
    color: var(--color-light-100);
  }


  &:hover:not(:disabled)  {
    color: var(--color-light-100);
    border-radius: 10px;
    box-shadow: 2px 2px 20px #262626, -2px -2px 20px  #fff;
  }

  @media (width <= 1006px) {
    //width: 100%;
    width: 90px;
    padding: 0 5px;
  }// !!!!

  @media (width <= 540px) {
  //width: 100%;
    width: 90px;
    padding: 0 5px;
  }// !!!!
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;

  @media (width <= 540px) {
    //width: 100%;
    width: 50px;
    padding: 0 5px;
  }// !!!!
}

.buttonRow {
  padding: 0 5px;

  &:hover {
    cursor: pointer;
    scale: 130%;
    transition: 0.3s;
  }

  @media (width <= 540px) {
    padding: 0
  }// !!!!
}

.disabledButtonRow {
  pointer-events: none;
  padding: 0 5px;
  opacity: 0.3
  }

.selectWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  margin-left: 10px;//!!!

}

.modalRow {
  display: none;
}

.headCellDeck {
  @media (width <= 1006px) {
   font-size: var(--font-size-xs);
  }//!!!

}

.title {
  font-size: var(--font-size-xxl);
  line-height: 36px;

  @media (width <= 540px) {
    font-size: var(--font-size-xl);
    font-weight: bold;

  }// !!!!
}

.deckItemTypography{
  font-size: var(--font-size-m);

  @media (width <= 1006px) {
    font-size: var(--font-size-s);
  }//!!!

  @media (width <= 540px) {
    font-size: var(--font-size-xs);
  }//!!!
}
