

.table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-text-primary);
  border: 1px solid var(--color-dark-500);
}

.trStyle {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1.5fr 1fr;

  @media (width <= 1040px) {
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr;
  }
}

.headCell {
   padding: 6px 24px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);

  background-color: var(--color-dark-500);

  > span {
    user-select: none;

    position: relative;

    display: flex;
    gap: 4px;
    align-items: center;
  }

  &.sortable > span {
    cursor: pointer;
  }

  svg {
    transition: transform 0.2s ease-in-out;
  }

  @media (width <= 540px) {
    padding: 6px 2px;
    font-size: 10px;

    &:nth-child(1) {
      padding-left: 5px;
    }
        }
}

.tableCell {
  overflow: hidden;//!!!

 padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  background-color: var(--color-bg-table);
  border-bottom: 1px solid var(--color-dark-500);

  @media (width <= 540px) {
    padding: 6px 2px;
    font-size: 10px;
  }
}

.chevron {
  transform: rotate(180deg);
}

.empty {
  display: flex;
  justify-content: center;
  width: 100%;
}

